{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style1.css'%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>

    <div class="sidebar">
        <header>Lidex</header>
        <ul>
            <li><a href=""><i class="uil uil-folder"></i>View employees</a></li>
            <li><a href="{% url 'logout' %}"><i class="uil uil-signout"></i>Logout</a></li>
        </ul>
    </div>
     <section>
        {% block content %}
        {% endblock %}
     </section>   
</body>
</html>